---
import Tags from "./Tags.astro";

interface Props {
  title: string;
  body: string;
  href: string;
  img: string;
  tags: string[];
  isExternal: boolean;
}

const { href, title, body, img, tags, isExternal } = Astro.props;

const target = isExternal ? "_blank" : "_self";
---

<article>
  <a class="card f-col br-accent gap-sm" href={href} target={target}>
    <header>
      <picture class="cover">
        <img src={img} alt=`Imagen de portada de la herramienta ${title}` />
      </picture>
    </header>
    <div class="pl">
      <h3>
        {title}
      </h3>
      <p>
        {body}
      </p>
    </div>
    <Tags tags={tags} />
  </a>
</article>
<style>
  a {
    text-decoration: none;
    backdrop-filter: blur(18px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.041);
    color: inherit;
    overflow: hidden;
    max-width: 400px;
    height: 100%;
  }

  img {
    height: 200px;
  }
</style>
