---
import Card from "../components/Card/Card.astro";
import Layout from "../layouts/Layout.astro";
import Projects from "../data/projects.json";
---

<Layout title="Polytropos - Conjunto de Utilidades">
  <main class="flex f-col center gap-sm">
    <article>
      <header class="txt-center">
        <h1 class="display-2">
          Bienvenido a <span class="txt-gradient">Polytropos</span>
        </h1>
        <div>
          <p class="txt-bg">Herramientas y Utilidades Random</p>
          <!--     <p class="txt-md">¿Porqué No?</p> -->
        </div>
      </header>
    </article>
    <section class="flex f-col center middle">
      <h2 class="txt-center txt-secondary pb">Utilidades Disponibles:</h2>
      <section class="grid content col-3 md-col-2 sm-col-1">
        {
          Projects.map((project) => (
            <Card
              title={project.title}
              body={project.body}
              href={project.href}
              img={project.img}
              tags={project.tags}
            />
          ))
        }
      </section>
    </section>
  </main>
</Layout>

<style>
  main {
    padding-top: 3.5dvh;
  }

  main h1 {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  main h2 {
    margin-top: 0;
  }
</style>
