---
import Card from "../components/Card/Card.astro";
import { Filter } from "../components/Filter/Filter.jsx";
import Layout from "../layouts/Layout.astro";
import Projects from "../data/projects.json";
---

<Layout
  title="Polytropos - Conjunto de Utilidades"
  description="Polytropos es una colección de herramientas y utilidades online que te ayudan a realizar diferentes tareas de forma rápida y eficiente.Polytropos ofrece una amplia gama de herramientas para diferentes necesidades, desde productividad hasta creatividad."
  img="./banner.png"
>
  <main class="flex f-col center gap-sm">
    <article>
      <header class="txt-center pt">
        <h1 class="display-2">
          Bienvenido a <span class="txt-gradient">Polytropos</span>
        </h1>
        <div>
          <p class="txt-bg">Herramientas y Utilidades Random</p>
        </div>
      </header>
    </article>
    <section class="flex f-col center middle">
      <header class="flex f-col center container">
        <h2 class="txt-center txt-secondary pb">Utilidades Disponibles:</h2>
        <Filter client:only="react" />
      </header>
      <section id="projects" class="grid content col-3 md-col-2 sm-col-1">
        {
          Projects.map((project) => (
            <Card
              title={project.title}
              body={project.body}
              href={project.href}
              img={project.img}
              tags={project.tags}
            />
          ))
        }
      </section>
    </section>
  </main>
</Layout>

<style>
  main {
    padding-top: 3.5dvh;
  }

  main h1 {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  main h2 {
    margin-top: 0;
  }
</style>
