---
import "@fontsource/noto-sans-lao/500.css";
import "@fontsource/noto-sans-lao/600.css";
import "@fontsource/noto-sans-lao/700.css";
import "@fontsource/roboto-mono/300.css";
import "@fontsource/roboto-mono/400.css";
import "@fontsource/roboto-mono/500.css";

import "../styles/cactus4.css";
import { ViewTransitions } from "astro:transitions";

import Header from "../components/Header/Header.astro";
const today = new Date();

interface Props {
  title: string;
  description: string;
  img: string;
}

const { title, description, img } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="JoseArjona" />
    <meta name="robots" content="index" />
    <meta name="google-site-verification" content="GiRnlfxZ6z9KJ9KJHsJ8ZZSd_MZ0dmos6hGmOqESI8Q" />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://polytropos.vercel.app" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={img} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://polytropos.vercel.app" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={img} />
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <slot />
    <footer class="flex f-col pr pl txt-center" style="font-size: smaller;">
      <div>{today.getFullYear()}</div>
      <div>
        Web Hecha con Astro y React por <a
          href="https://arjmath.vercel.app/"
          target="_blank"
          rel="noopener noreferrer"
          style="font-size: small; color: inherit">JoseArjona</a
        >
      </div>
      <div>
        <a
          href="https://librecounter.org/referer/show"
          target="_blank"
          style="display: none;"
        >
          <img
            src="https://librecounter.org/counter.svg"
            referrerpolicy="unsafe-url"
          />
        </a>
        Los Recursos son gratuitos y de uso libre. Sin embargo, algunos están limitados
        por el uso de APIS Publicas.
      </div>
    </footer>
    <style>
      body {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }

      footer {
        color: var(--secondary);
        margin: auto;
        margin-bottom: 0;
        padding-bottom: 1.5em;
      }
    </style>
  </body>
</html>
